{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title"> Look at Squirrels </h2>
  <!-- insert code to display posts from db here -->
  <div class="reviews">
    <h1 class="reviews-title"> Reviews
      <!-- <small class="reviews-count"> {{ reviews | length }} reviews </small> -->
    </h1>
    <ul class="review-container">
      {% for squirrel_post in squirrel_posts %}
        <a href="{{ url_for('comment.comment_page', post_id=squirrel_post.id) }}">
          <li class="review flex gap-2">
            <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{squirrel_post.image}}" alt="" />
            <div class="w-full">
              <span class="review-date">{{ squirrel_post.date }}</span>
              <a class="review-commenter">
                @{{ squirrel_post.commenter.username }}
              </a>
              <p>Location: {{ squirrel_post.location }}</p>
              <p class="review-content">{{ squirrel_post.content }}</p>
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
